#section_about{
    background-color: var(--about_background);
    display: grid;
    grid-template-areas: 
        "header header"
        "paratext image";
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 70px;
}

        #section_about
        h1{
            color:var(--about_h1_text_color);
            grid-area: header;
        }
        
        #section_about
        div{
            place-self: center;
            align-self: center;
            justify-self: center;
        }
        
        #section_about
        .about_content_paragraphs{
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: paratext;
            align-self: start;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
                #section_about
                .about_content_paragraphs
                p{
                    text-align: left;
                    width: 75%;
                    margin: 9px;
                }