body
{
    font-family: var(--default_page_font);
}



/* ---- NAVBAR THEME ---- */
.navbar_tabs
.tabs_container
{
    box-shadow: 0 0 var(--navbar_shadow_size) var(--navbar_shadow_color);
    background: var(--navbar_background);
}

.navbar_tabs
.tabs_container
.tab
{
    color: var(--navbar_text_color);
}

.navbar_tabs
.tabs_container
.tab:hover
{
    color: var(--navbar_text_color_hover);
    background: var(--navbar_background_hover);
}



/* ---- GENERAL SECTION THEME ---- */
.section
{
    background: var(--default_section_background);
}



/* ---- PORTFOLIO THEME ---- */
.portfolio
.row
.item
{
    color: var(--item_text_color);
    background-color: var(--item_background);
}

.portfolio
.row
.item
.text
.description
{
    color: var(--item_text_color);
}



/* ---- MODAL THEME ---- */
.portfolio
.modal
{
    color: var(--modal_text_color);
    background-color: var(--modal_background)
}

.portfolio
.modal
.box
{
    background-color: var(--modal_background)
}



/* ---- CONTACT THEME ---- */
.contact
.contact_button_group
.contact_button
{
    color:var(--contact_button_text_color);
    background: var(--contact_button_background)
}

.contact
.contact_button_group
.contact_button
.contact_text
{
    color:var(--contact_textbox_text_color);
    background:var(--contact_textbox_background);
}

.contact
.contact_button_group
.contact_button
.contact_text:before 
{
    border-top: 5px solid var(--contact_textbox_background);
}

.contact:hover
.contact_button_group
.contact_button:hover
{
    background: var(--contact_button_background_hover);
}