body
{
    outline-color: black;
    outline-style: solid;
}

img:not([alt])
{
    outline-color: red;
    outline-style: solid;
    outline-width: 5px;
}

.header
{
    outline-color: black;
    outline-style: solid;
}

.intro
{
    outline-color: black;
    outline-style: solid;
    background-color: hotpink;
}

#intro_anchor
{
    opacity: 1;
    outline-color: black;
    outline-style: solid;
}

        .intro
        .sectiontitle
        {
            outline-color: black;
            outline-style: solid;
        }

        .intro
        .subtitle
        {
            outline-color: black;
            outline-style: solid;
        }

        .intro
        .content
        {
            outline-color: black;
            outline-style: solid;
        }

.about
{
    outline-color: black;
    outline-style: solid;
    background-color: green;
}

#about_anchor
{
    opacity: 1;
    outline-color: black;
    outline-style: solid;
}

.portfolio
{
    outline-color: black;
    outline-style: solid;
}

#portfolio_anchor
{
    opacity: 1;
    outline-color: black;
    outline-style: solid;
}

        .portfolio
        .tags
        {
            outline-color: black;
            outline-style: solid;
        }

                .portfolio
                .tags
                .item
                {
                    outline-color: black;
                    outline-style: solid;
                }

        .portfolio
        .row
        {
            outline-color: black;
            outline-style: solid;
        }

                .portfolio
                .row
                .item
                {
                    outline-color: black;
                    outline-style: solid;
                }

                        .portfolio
                        .row
                        .item
                        .card
                        {
                            outline-color: black;
                            outline-style: solid;
                        }

                                .portfolio
                                .row
                                .item
                                .card
                                .card_background
                                {
                                    outline-color: black;
                                    outline-style: solid;
                                }

                                .portfolio
                                .row
                                .item
                                .card
                                .text
                                {
                                    outline-color: greenyellow;
                                    outline-style: solid;
                                }

                                        .portfolio
                                        .row
                                        .item
                                        .card
                                        .text
                                        .card_title
                                        {
                                            outline-color: greenyellow;
                                            outline-style: solid;
                                        }
                    
                                        .portfolio
                                        .row
                                        .item
                                        .text
                                        .description
                                        {
                                            outline-color: greenyellow;
                                            outline-style: solid;
                                        }

                                        .portfolio
                                        .row
                                        .item
                                        .text
                                        .description
                                        .text
                                        {
                                            outline-color: greenyellow;
                                            outline-style: solid;
                                        }

        .portfolio
        .modal
        {
            outline-color: black;
            outline-style: solid;
        }

        .portfolio
        .modal_show
        {
            outline-color: black;
            outline-style: solid;
        }
    
        .portfolio
        .modal
        .box
        {
            outline-color: black;
            outline-style: solid;
        }